<div class="container-fluid input">
  <div fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutGap="50px" fxLayoutAlign.gt-md="space-around">
      <div fxFlex="5">
      </div>
      <div fxFlex >
        <h3>Panel</h3>
        <form novalidate [formGroup]="addrForm" (ngSubmit)="onSubmit()" >
        	<mat-input-container class="half-width" 
            dividerColor="{{formErrors.addrA ? 'warn' : 'primary'}}">
              <input matInput formControlName="addrA" placeholder="First Address" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.addrA)">
                  {{formErrors.addrA}}</span>
              </mat-hint>
            </mat-input-container>

            <mat-input-container class="half-width"
              dividerColor="{{formErrors.addrB ? 'warn' : 'primary'}}">
              <input matInput formControlName="addrB" placeholder="Second Address" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.addrB)">
                  {{formErrors.addrB}}</span>
              </mat-hint>
            </mat-input-container>
            <button type="submit" mat-raised-button class="background-primary text-floral-white" [disabled]="addrForm.invalid">Submit</button>
        </form>
        <p></p>
        <p></p>
        <agm-map [latitude]="lat" [longitude]="lng">
  			 <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		    </agm-map>
  	  </div>
  	  <div fxFlex="70" >
  	  	<h3>Result<button mat-mini-fab class="text-floral-white button-for-badge" [disabled]="true">12</button></h3>

        <div *ngIf="agencies">
          This is a test
        </div>
        
	    </div>
    </div>

  </div>

</div>

