agm-map {
  height: 300px;
  width: 500px;
}

mat-hint {
    color: red;
}

.full-width {
    width: 95%
}

.half-width {
    width: 30%;
    padding-right: 45px;
}

.form-size {
    width: 75%
}

.input{
    margin-top: 20px;
    font-family: Serif, serif;
}

.input h3{
    text-align: center;
    font-family: "Comic Sans MS", serif;
    color: darkgrey;
}

.button-for-badge {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    background-color: #777!important;
    font-family: "Comic Sans MS", serif;
}

.function table{
    text-align: center;
}

.function #MyMap {
    margin-top: 20px;
}

